.main-container {
    position: relative;
}

.color-white {
    color: white !important;
}

.carousel-image {
    object-fit: contain !important;
}

.center {
    text-align: center;
}

.heading {
    margin: 4rem 0 2rem 0;
    text-align: center;
}

.heading h1 {
    font-size: 3rem;
    margin: 0;
    color: #ff3b00;
    font-family: 'Great Vibes', 'cursive';
}

.heading img {
    height: 4rem;
    width: 22rem;
    margin-top: -25px;
}

.top-carousel img {
    height: 100vh;
    object-fit: cover;
}

.top-carousel {
    position: relative;
}

.top-carousel .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-image: radial-gradient(circle, #14131400, #2c2c2b94); */
    background-image: radial-gradient(circle, #14131400, #0a449b94);
}

.top-carousel .center-heading {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 0.5rem 8rem;
    border-radius: 1rem;
    text-align: center;
    font-family: 'Great Vibes', 'cursive';
    letter-spacing: 7px;
    text-shadow: 2px 5px 2px #f70606
}

.top-carousel .center-heading h1 {
    font-size: 7rem;
    font-weight: 700;
    margin: 0;
}

.invitation-container {
    width: 100%;
    background-color: #e1d8f3;
    background-image: url('./assests/flowers/flower-round.png');
    background-repeat: repeat-x;
    background-position: left;
    font-family: 'Great Vibes', 'cursive';
}

.invitation-card {
    width: 40%;
    margin: 4rem auto;
    background-color: white;
    border: 8px double grey;
    padding: 4rem 2rem;
    text-align: center;
}

.invitation-card img {
    height: 12rem;
}

.invitation-card h6 {
    font-size: 1.5rem;
    margin: 0;
}

.invitation-card h2 {
    font-size: 4rem;
    margin: 0.5rem 0;
    color: #00c4ff;
}

.invitation-card h5 {
    font-size: 1.5rem;
    margin: 0;
}

.invitation-card h3 {
    font-size: 2rem;
    margin: 0;
}

.events {
    background-image: url('./assests/flowers/corner.png');
    background-blend-mode: difference;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #e1f7f4;
    position: relative;
    padding: 0 4rem 4rem 4rem;
}

.corner-image-left {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10rem;
}

.corner-image-right {
    position: fixed;
    top: 0;
    right: 0;
    height: 8rem;
}


.event-card {
    width: 100%;
    padding: 2rem 0;
    /* margin: 2rem; */
    /* padding: 2rem; */
    background-color: white;
    text-align: center;
    font-family: 'Great Vibes', 'cursive';
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /* border-radius: 0.5rem; */
    border-radius: 2em 0 2rem 0;
}

.event-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.parallex {
    background-image: url('./assests/flowers/flower-center.png');
    /* background-image: url('./assests/flowers/flower.png'); */
    min-height: 350px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.quote-one {
    font-size: 1.5rem;
    color: #0f5ce9;
    text-align: center;
    margin: 0 8rem 0 8rem;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Great Vibes', 'cursive';
}

.event-card h1 {
    font-size: 2rem;
    color: #ff3b00;
    letter-spacing: 2px;
    margin: 0;
}


.event-card hr {
    width: 50px;
    color: grey;
    margin: 0 auto;
}


.event-card h2 {
    font-size: 1.7rem;
    margin: 1.5rem 0;
}

.event-card p {
    font-size: 1.2rem;
    margin: 0 0 1.5rem 0;
    font-family: cursive;
    padding: 1rem;
}

.event-card a {
    /* border-radius: 2em; */
    border-radius: 0.8em 0 0.8rem 0;
    padding: 0.2rem 2rem;
    background-color: white;
    outline: none;
    border: 2px solid #00c4ff;
    color: #00c4ff;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.event-card a:hover {
    background-color: #00c4ff;
    outline: none;
    border: 2px solid #00c4ff;
    color: white;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.thank-you {
    height: 550px;
    position: relative;
    /* display: flex; */
    align-items: center;
    background-color: #f7d1dd;
}

.thank-you .heading {
    position: absolute;
    left: 45%;
    top: 38%;
    transform: translate(-50%, -50%);
}

.thank-you img {
    height: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.attending {
    background-image: url('./assests/flowers/heartbg2.png');
    background-position: fixed;
    background-attachment: fixed;
    /* position: relative; */
    background-repeat: no-repeat;
    background-position: right;
    padding: 5px;
}

.attending input {
    background-color: white;
}

/* .attending .overlay{
    z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000006b;
} */


/* #############################################################################
                                MOBILE 
   #############################################################################*/


@media screen and (max-width: 576px) {
    .top-carousel img {
        height: auto;
    }

    /* .parallex {
        background-image: url('./assests/flowers/flower-center.png');
        min-height: 350px;
        background-position: bottom;
        background-repeat: no-repeat;
        background-attachment: fixed;
    } */

    .quote-one {
        font-size: 1.5rem;
        margin: 0 2rem 0 2rem;
    }

    .top-carousel .center-heading {
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        letter-spacing: 4px;
        top: 77%;
        text-shadow: 2px 3px 2px #f70606
    }

    .top-carousel .center-heading h1 {
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
    }

    .invitation-container {
        /* height: 800px; */
        width: 100%;
        background-image: url('./assests/flowers/flower-round.png');
        background-repeat: repeat-y;
        background-position: left;
    }

    .invitation-card {
        width: 75%;
        margin: 4rem auto;
        padding: 2rem;
        background-color: white;
        text-align: center;
    }

    .events {
        background-color: #e1f7f4;
        /* background-repeat: repeat-y; */
        background-position: right;
        position: relative;
        padding: 0 1rem 2rem 1rem;
    }

    .thank-you h1 {
        font-size: 2rem;
    }


    .thank-you img {
        height: 350px;
        position: absolute;
        left: 54%;
        top: 45%;
        transform: translate(-50%, -50%);
    }

    .event-card a {
        padding: 0.5rem 2rem;
        background-color: blue;
        color: white;
        margin: 1.5rem 0 0 0;
    }

    .corner-image-left {
        height: 6rem;
    }

    .corner-image-right {
        height: 4rem;
    }

}